{% extends 'student_templates/base_template.html' %}

{% block page_title %}
    Faculty
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Faculty Details</h3>

                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Address</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for faculty in faculties %}
                                <tr>
                                <td>{{ faculty }}</td>
                                <td>{{ faculty.admin.email }}</td>
                                <td>{{ faculty.address }}</td>
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        </div>
                    <!-- /.card -->

                </div>
            </div>

        </div><!-- /.container-fluid -->
      </section>

  {% endblock main_content %}