{% extends 'student_templates/base_template.html' %}

{% block custom_css %}

{% endblock custom_css %}

{% block page_title %}
Announcements
{% endblock page_title %}

{% block main_content %}

{% load static %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Announcements</h3>
                    </div>
                    <!-- /.card-header -->

                    {% for row in unread_announcements %}
                        {% include 'student_templates/announcement_template.html' with row=row unread=True non_empty=non_empty %}
                    {% endfor %}

                    {% for row in read_announcements %}
                        {% include 'student_templates/announcement_template.html' with row=row unread=False non_empty=non_empty %}
                    {% endfor %}

                </div>
                <!-- /.card -->

            </div>
        </div>

    </div><!-- /.container-fluid -->
</section>

{% endblock main_content %}